<div class="modal-header">
  <h4 class="modal-title">Filter for <strong>{{vm.field.name}}</strong> field <button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.deleteFilterModal()" ng-hide="vm.disabled"><span class="glyphicon glyphicon-trash"></span> Delete filter</button></h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" role="alert" ng-hide="!vm.alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{vm.alert}}
  </div>
  <label class="control-label">Filter</label>
  <input type="text" class="form-control" ng-model="vm.filter.name" readonly>
  <br />
  <div class="form-group">
    <label class="col-sm-2 control-label">Option</label>
    <div class="col-sm-8">
      <ui-select
        ng-model="vm.option.name"
        ng-disabled="vm.disabled"
        on-select="vm.selectOption($item, $model)">
        <ui-select-match placeholder="Select an option...">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="option in vm.optionNames | filter: $select.search">
          <div ng-bind-html="option | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-success btn-sm" ng-click="vm.addOption()" ng-hide="vm.disabled">Add option</span></button>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label class="control-label col-sm-2">Value</label>
    <div class="col-sm-8">
      <toggle-switch type="checkbox"
        class="switch-info switch-small"
        model="vm.option.value"
        ng-disabled="vm.disabled"
        ng-show="vm.filter.name && vm.filters[vm.filter.name][vm.option.name] == 'bool'"></toggle-switch>

      <input type="text" class="form-control"
        ng-model="vm.option.value"
        ng-hide="vm.filter.name && vm.filters[vm.filter.name][vm.option.name] == 'bool'"
        ng-disabled="vm.disabled"
        placeholder="Insert the option value ({{vm.filters[vm.filter.name][vm.option.name]}})">
    </div>
  </div>
  <br /><br />
  <table class="table table-bordered col-md-12">
    <thead>
      <tr>
        <th class="col-md-5">Option</th>
        <th class="col-md-5">Value</th>
        <th class="col-md-2">Action</th>
      </tr>
    </thead>
    <tr ng-repeat="(option, value) in vm.filter.options">
      <td>{{option}}</td>
      <td>{{value}}</td>
      <td><button type="button" ng-click="vm.deleteOption(option)" class="btn btn-danger btn-xs" ng-hide="vm.disabled"><i class="glyphicon glyphicon-trash"></i> delete</button></td>
    </tr>
    <tr ng-show="vm.filter.options | emptyObject">
      <td colspan="3">
        No options have been defined</a>
      </td>
    </tr>
  </table>
  <br clear="left" />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
  <button type="button" class="btn btn-success btn-sm" ng-click="vm.ok()" ladda="vm.loading" ng-hide="vm.disabled">Save</span></button>
</div>
