<div class="modal-header">
  <h4 class="modal-title">Create new API</h4>
</div>
<div class="modal-body">
  <div class="alert alert-danger" role="alert" ng-hide="!vm.alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{vm.alert}}
  </div>
  <input type="text" class="form-control" ng-model="vm.apiname" placeholder="Insert the API name" ng-disabled="vm.loading" autofocus>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.cancel()" ng-disabled="vm.loading">Close</button>
  <button type="button" class="btn btn-primary" ng-click="vm.ok()" ladda="vm.loading">Create</span></button>
</div>
