/*csslint box-sizing: false*/
/*
 * Base structure
 */

html, body {
  height: 100%;
  overflow-x: hidden;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  box-sizing: border-box;
  border: 1px;
  border-color: #428bca;
  background: #105d8a;
  height: 70px;
}

.navbar-fixed-top a {
  font-size: 18px;
  color: white;
}

.header-toggle {
  display: block;
  position: fixed;
  top: 8px;
  right: 15px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  padding: 9px 10px;
}

.sidebar-toggle {
  display: block;
  position: fixed;
  top: 8px;
  left: 15px;
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
  padding: 9px 10px;
}

.sidebar-toggle .glyphicon,
.header-toggle .glyphicon {
  -webkit-transition: transform .5s;
     -moz-transition: transform .5s;
      -ms-transition: transform .5s;
       -o-transition: transform .5s;
          transition: transform .5s;
}

.header-toggled {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar-toggled {
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.logo {
  display: block;
  margin: 5px 0 5px 20px;
  max-height: 70px;
  width: 320px;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 75px;
    max-height: 30px;
  }
}

/*
 * Sidebar
 */

.sidebar {
  position: absolute;
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  display: block;
  top: 70px;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #428bca;
  -webkit-box-shadow: 5px 0 3px -2px #888;
     -moz-box-shadow: 5px 0 3px -2px #888;
       -o-box-shadow: 5px 0 3px -2px #888;
          box-shadow: 5px 0 3px -2px #888;
}

.sidebar-list {
  font-size: 1.5em;
}

.sidebar .search {
  margin-bottom: 1em;
  margin-top: 30px;
}

.sidebar .search .glyphicon-remove {
  top: 0;
}

.sidebar .api-tree {
  margin-top: 1em;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: black;
  background-color: #74cb34;
}

.nav {
  margin-top:16px;
}

/*
 * Main content
 */

.main {
  position: relative;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
}

.main-panel {
  margin-top: 20px;
}

.main .page-header {
  margin-top: 0;
}

/*
 * Responsive navbar
 */
@media screen and (min-width: 1124px) {
  .nav-pills {
    display: inline-block;
  }

  .header-toggle {
    display: none;
  }
}

@media screen and (max-width: 1124px) {
  /* Push navbar offscreen */
  .nav-pills {
    position: absolute;
    display: block;
    top: 70px;
    right: -320px;
    z-index: -1;
    width: 320px;
    height: 100vh;
    margin-top: 0;
    background: #105d8a;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
        -ms-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  /* Except when active */
  .nav-stacked {
    right: 0;
    z-index: 100;
  }

  .header-toggle {
    display: block;
  }
}

/*
 * Responsive sidebar
 */

/* Large displays (iPad, desktop) */
@media screen and (min-width: 768px) {
  .main {
    margin-left: 340px;
  }

  .sidebar-toggle {
    display: none;
  }
}

/* Small displays (small tablets, phones */
@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  /* Push sidebar offscreen */
  .sidebar {
    left: -320px;
    z-index: -1;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
  }

  /* Except when active */
  .sidebar-active {
    left: 0;
    z-index: 100;
    -webkit-box-shadow: 5px 0 3px -2px #888;
       -moz-box-shadow: 5px 0 3px -2px #888;
         -o-box-shadow: 5px 0 3px -2px #888;
            box-shadow: 5px 0 3px -2px #888;
  }
}

/*
 * Placeholder dashboard ideas
 */

.tab-content {
    margin-top: 20px;
}

label.method-checkbox {
  margin-right: 1em;
  font-weight: normal;
}

label.method-checkbox input[type=checkbox] {
  margin-right: 0.25em;
}

.panel-title {
  font-size: 2.0em;
}

.service ul {
  margin-bottom: 0;
}

/**
 * Tree view customization
 */
.angular-ui-tree-handle {
  background: none repeat scroll 0 0 #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px;
}

.modal_msg {
  font-size: 18px;
}

.nav-tabs > li > a {
  cursor: pointer;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
  margin-top: 0;
}

.nav-tabs {
  margin-bottom: 0;
}

.angular-ui-tree-handle:hover:not(.selected) {
  background: #eeeeee;
}

.selected {
  background : #dddddd;
}

.icon-database {
    background-image: url("/apigility-ui/img/icon-database.png");
    background-position: center center;
    width: 14px;
    height: 19px;
    line-height: 19px;
}

.doctrine-params > .form-group {
    margin-bottom: 0;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
       -moz-animation: spin 1000ms infinite linear;
         -o-animation: spin 1000ms infinite linear;
            animation: spin 1000ms infinite linear;
    display: inline-block;
    margin: 0 10px;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.db-tables-tree {
    margin-top: 20px;
}

.angular-ui-tree-node table {
    font-weight: normal;
    color: #000;
    background: #fff;
}

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
    border-radius: 4px;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 5px;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}

.angular-ui-tree-empty {
    min-height: 0;
    border: none;
}

.dashboard .hero {
    margin-top: 2em;
}

.dashboard .hero img {
    padding-left: 2em;
}

h1 {
  font-size: 4em;
  font-weight: bolder;
}

.table-center {
  text-align: center;
}

.http-method {
  margin-right: 1em;
}
