<div class="modal-header">
  <h4 class="modal-title">Edit filter for field {{vm.fieldName}}<button type="button" class="btn btn-danger btn-sm pull-right" ng-click="vm.deleteFilterModal()"><span class="glyphicon glyphicon-trash"></span> Delete filter</button></h4>
</div>
<div class="modal-body">
  <label for="rest_filter_type" class="control-label">Filter</label>
  <input type="text" class="form-control" value="{{vm.filterName}}" readonly>
  <br />
  <div class="form-group">
    <label for="rest_validator_option" class="col-sm-2 control-label">Option</label>
    <div class="col-sm-8">
      <select class="form-control" name="rest_filter_option" id="rest_filter_option" ng-model="vm.option">
        <option ng-repeat="(option,value) in vm.filters[vm.selected]">{{option}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button type="button" id="add_filter_option" class="btn btn-success btn-sm">Add option</span></button>
    </div>
  </div>
  <br />
  <div class="form-group">
    <label for="rest_filter_option_value" class="control-label col-sm-2">Value</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="rest_filter_option_value" placeholder="Insert the option value ({{vm.filters[vm.selected][vm.option]}})">
    </div>
  </div>
  <br /><br />
  <table data-height="80%">
    <thead>
      <tr>
        <th class="col-md-5">Option</th>
        <th class="col-md-5">Value</th>
        <th data-formatter="actionOptionValidatorButtons" class="col-md-2">Action</th>
      </tr>
    </thead>
  </table>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="vm.cancel()">Close</button>
  <button type="button" id="save_field" class="btn btn-success btn-sm">Save</span></button>
</div>
