<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      REST service: {{vm.restName}} (v{{vm.version}})
      <button class="btn btn-danger pull-right" ng-click="vm.deleteRestModal()"><span class="glyphicon glyphicon-trash"></span> Delete service</button>
    </h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-danger" role="alert" ng-hide="!vm.alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{vm.alert}}
    </div>
    <tabset justified="true">
      <tab heading="General Settings" active="vm.tabs.general_settings">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label for="rest_name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="rest_name" ng-model="vm.rest.service_name" readonly>
            </div>
            <label for="rest_page_size" class="col-sm-2 control-label">Page size</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="rest_page_size" ng-model="vm.rest.page_size" ng-change="vm.change(0)">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Route matches</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="vm.rest.route_match" ng-change="vm.change(0)">
            </div>
            <label class="col-sm-2 control-label">HTTP Entity Methods</label>
            <div class="col-sm-4">
              <span ng-repeat="http in vm.httpMethods">
                <input type="checkbox" checklist-model="vm.rest.entity_http_methods" checklist-value="http" ng-change="vm.change(0)"> {{http}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Route identifier name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="vm.rest.route_identifier_name" ng-change="vm.change(0)">
            </div>
            <label class="col-sm-2 control-label">HTTP Collection Methods</label>
            <div class="col-sm-4">
              <span ng-repeat="http in vm.httpMethods">
                <input type="checkbox" checklist-model="vm.rest.collection_http_methods" checklist-value="http" ng-change="vm.change(0)"> {{http}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="rest_entity_id" class="col-sm-2 control-label">Entity identifier name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="rest_entity_id" ng-model="vm.rest.entity_identifier_name" ng-change="vm.change(0)">
            </div>
            <label for="rest_page_size_parameter" class="col-sm-2 control-label">Page Size Parameter</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="rest_page_size_parameter" ng-model="vm.rest.page_size_param" ng-change="vm.change(0)">
            </div>
          </div>
          <div class="form-group">
            <label for="rest_hydrator" class="col-sm-2 control-label">Hydrator Service Name</label>
            <div class="col-sm-4">
              <select class="form-control" ng-model="vm.rest.hydrator_name" ng-options="hydrator for hydrator in vm.hydrators" ng-change="vm.change(0)"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="rest_query_white_list" class="col-sm-2 control-label">Collection Query String Whitelist</label>
            <div class="col-sm-4">
              <tags-input
                ng-model="vm.rest.collection_query_whitelist"
                ng-readonly=""
                ng-change="vm.change(0)"
                placeholder="Insert query whitelist"
                add-on-space="true"
                add-on-enter="true"
                add-on-blur="true"
                allowed-tags-pattern="^[a-zA-Z0-9_+.-]+$"></tags-input>
            </div>
            <label for="rest_collection_name" class="col-sm-2 control-label">Collection Name</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="vm.rest.collection_name" ng-change="vm.change(0)">
            </div>
          </div>
          <div class="form-group">
            <label for="rest_entity_class" class="col-sm-2 control-label">Entity Class</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="vm.rest.entity_class" ng-change="vm.change(0)">
            </div>
            <label for="rest_collection_class" class="col-sm-2 control-label">Collection Class</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="vm.rest.collection_class" ng-change="vm.change(0)">
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetGeneral()" unsaved-warning-clear>Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveGeneral()" ladda="vm.loading">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Database Settings" active="vm.tabs.db" ng-if="vm.rest.table_name">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label for="rest_content_negotiation" class="col-sm-2 control-label">Adapter name</label>
            <div class="col-sm-8">
              <select class="form-control" ng-model="vm.adapter" ng-options="db.adapter_name for db in vm.db.db_adapter" ng-change="vm.change(0)"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="rest_content_negotiation" class="col-sm-2 control-label">Table name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="vm.rest.table_name" ng-change="vm.change(0)">
            </div>
          </div>
          <div class="form-group">
            <label for="rest_content_negotiation" class="col-sm-2 control-label">TableGateway Service Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="vm.rest.table_service" readonly>
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetGeneral()" unsaved-warning-clear>Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveGeneral()" ladda="vm.loading">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Content Negotiation" active="vm.tabs.content_negotiation">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label for="rest_content_negotiation" class="col-sm-2 control-label">Content Negotiation Selector</label>
            <div class="col-sm-8">
              <select class="form-control" ng-model="vm.rest.selector" ng-options="selector.content_name for selector in vm.content_negotiation" ng-change="vm.change(1)"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Accept whitelist</label>
            <div class="col-sm-8">
              <tags-input
                ng-click="vm.change(1)"
                ng-change="vm.change(1)"
                ng-model="vm.tags.accept_whitelist"
                placeholder="Add a mediatype"
                add-on-space="true"
                add-on-enter="true"
                add-on-blur="true"
                allowed-tags-pattern="^[a-zA-Z0-9_+.-]+$"></tags-input>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Content-Type whitelist</label>
            <div class="col-sm-8">
              <tags-input
                ng-click="vm.change(1)"
                ng-change="vm.change(1)"
                ng-model="vm.tags.content_type_whitelist"
                placeholder="Add a content type"
                add-on-space="true"
                add-on-enter="true"
                add-on-blur="true"
                allowed-tags-pattern="^[a-zA-Z0-9_+.-]+$"></tags-input>
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetContentNegotiation()" unsaved-warning-clear>Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveContentNegotiation()" ladda="vm.loading">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Fields" active="vm.tabs.fields">
        <h3>Fields <button type="button" class="btn btn-primary btn-sm" ng-click="vm.newFieldModal()">New field</button></h3>
        <div class="form-group">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Required</th>
                <th class="col-md-3">Validator</th>
                <th class="col-md-3">Filter</th>
                <th class="col-md-3">Action</th>
              </tr>
            </thead>
            <tr ng-repeat="field in vm.rest.fields">
              <td>{{field.name}}</td>
              <td><span ng-if="field.required" class="glyphicon glyphicon-ok"></span></td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addValidatorModal(field)"><span class="glyphicon glyphicon-plus"></span></button>
                <span ng-repeat="validator in field.validators"><a ng-click="vm.editValidatorModal(field, validator)">{{validator.name}}</a>, </span>
                <span ng-if="field.validators.length == 0">No validators</span>
                </td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addFilterModal(field)"><span class="glyphicon glyphicon-plus"></span></button>
                <span ng-repeat="filter in field.filters"><a ng-click="vm.editFilterModal(field, filter)">{{filter.name}}</a>, </span>
                <span ng-if="field.filters.length == 0">No filters</span>
              </td>
              <td>
                <button type="button" ng-click="vm.editFieldModal(field)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-pencil"></i> edit</button> <button type="button" ng-click="vm.deleteFieldModal(field)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> delete</button>
              </td>
            </tr>
            <tr ng-if="vm.rest.fields.length == 0">
              <td colspan="5">
                No fields have been configured, <a ng-click="vm.newFieldModal()">create the first one</a>
              </td>
            </tr>
          </table>
        </div>
      </tab>
      <tab heading="Authorization" active="vm.tabs.authorization">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <h3>HTTP methods authorization</h3>
          <p>In this page you can specify which HTTP methods to put under authentication, for your entity and collection service.
          You can choose only the HTTP methods available for the service, if you want to change it go to <a href="">General Settings</a>.
          The authentication type is defined per API in <a ui-sref="ag.apimodule({api: vm.apiName, ver: vm.version})">this page</a>.</p>
          <br />
          <div class="form-group">
            <label class="col-sm-2 control-label">Entity authorization</label>
            <div class="col-sm-8">
              <span ng-repeat="http in vm.httpMethods">
                <input type="checkbox" checklist-model="vm.auth.entity" checklist-value="http" ng-change="vm.change(2)" ng-disabled="vm.rest.entity_http_methods.indexOf(http) < 0"> {{http}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Collection authorization</label>
            <div class="col-sm-8">
              <span ng-repeat="http in vm.httpMethods">
                <input type="checkbox" checklist-model="vm.auth.collection" checklist-value="http" ng-change="vm.change(2)" ng-disabled="vm.rest.collection_http_methods.indexOf(http) < 0"> {{http}}
              </span>
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetAuthorization()" unsaved-warning-clear>Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveAuthorization()" ladda="vm.loading">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Documentation" active="vm.tabs.documentation">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label class="col-sm-2 control-label">REST service description</label>
            <div class="col-sm-10">
              <textarea class="form-control" ng-model="vm.rest.documentation.description" placeholder="Insert the description here" ng-change="vm.change(3)"></textarea>
            </div>
          </div>
          <div class="form-group">
            <tabset justified="true" class="col-sm-12">
              <tab heading="Collection" active="vm.tabs.doc.collection">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" ng-model="vm.rest.documentation.collection.description" placeholder="Insert the Collection description here" ng-change="vm.change(3)"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <tabset justified="true" class="col-sm-12">
                    <tab ng-repeat="http in vm.rest.collection_http_methods" heading="{{http}}">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.collection[http].description" placeholder="Insert the description here" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                      <div class="form-group" ng-if="http !== 'GET'">
                        <label class="col-sm-2 control-label">Request Body</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.collection[http].request" placeholder="Insert the request specification" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Response Body</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.collection[http].response" placeholder="Insert the response specification" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                    </tab>
                  </tabset>
                </div>
              </tab>
              <tab heading="Entity" active="vm.tabs.doc.entity">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" ng-model="vm.rest.documentation.entity.description" placeholder="Insert the Entity description here" ng-change="vm.change(3)"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <tabset justified="true" class="col-sm-12">
                    <tab ng-repeat="http in vm.rest.entity_http_methods" heading="{{http}}">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.entity[$index].description" placeholder="Insert the description here" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                      <div class="form-group" ng-if="http !== 'GET'">
                        <label class="col-sm-2 control-label">Request Body</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.entity[$index].request" placeholder="Insert the request specification" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Response Body</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" ng-model="vm.rest.documentation.entity[$index].response" placeholder="Insert the response specification" ng-change="vm.change(3)"></textarea>
                        </div>
                      </div>
                    </tab>
                  </tabset>
                </div>
              </tab>
            </tabset>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetDocumentation()" unsaved-warning-clear>Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveDocumentation()" ladda="vm.loading">Save</button>
            </div>
          </div>
        </form>
      </tab>
    </tabset>
  </div>
  </form>
</div>
