  <div class="row">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
        <label for="search" class="control-label">Search</label>
          <input type="search" id="search" class="form-control" placeholder="Search a service" type="text">
        </div>
      </div>
    </form>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12 text-right">
      <span class="pull-left"><strong>API LIST</strong></span>
      <button type="button" id="new_api" class="btn btn-primary btn-sm" ng-click="vm.newApiModal()">New API</button>
      <button type="button" id="new_service" class="btn btn-info btn-sm" ng-click="vm.newServiceModal()">New Service</button>
    </div>
  </div>
  <br />
  <div ui-tree class="ng-scope angular-ui-tree" data-drag-enabled="false" data-max-depth="2">
    <ol ui-tree-nodes="options" ng-model="vm.apis" class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes">
      <li class="ng-scope angular-ui-tree-node" ng-repeat="item in vm.apis" ui-tree-node="">
        <div class="ng-scope ng-binding angular-ui-tree-handle" ui-tree-handle>
          <a class="btn btn-default btn-xs" ng-click="vm.toggle(this)" data-nodrag="">
            <span ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}" class="glyphicon glyphicon-chevron-down"></span>
          </a>
          <a ui-sref="ag.apimodule({api: item.name, ver: vm.version})">{{item.name}}</a> - version <select ng-model="vm.version" ng-options="ver for ver in item.versions"></select>
          <span class="badge pull-right">{{item.rest.length + item.rpc.length}}</span>
        </div>
        <ol class="ng-scope ng-pristine ng-valid angular-ui-tree-nodes" ui-tree-nodes="" ng-model="item.rest" ng-class="{hidden: collapsed}">
          <li class="ng-scope angular-ui-tree-node" ng-repeat="subItem in item.rest" ui-tree-node>
            <div class="ng-scope ng-binding angular-ui-tree-handle" ui-tree-handle>
              <span class="glyphicon glyphicon-leaf"></span> <a ui-sref="ag.rest({api: item.name, ver: vm.version, rest: subItem})">{{subItem}}</a>
            </div>
          </li>
          <li class="ng-scope angular-ui-tree-node" ng-repeat="subItem in item.rpc" ui-tree-node>
            <div class="ng-scope ng-binding angular-ui-tree-handle" ui-tree-handle>
              <span class="glyphicon glyphicon-fire"></span> <a ng-click="vm.loadService(item.name, subItem)">{{subItem}}</a>
            </div>
          </li>
        </ol>
      </li>
    </ol>
  </div>
