<div class="panel panel-default service" name="{{vm.rpcName}}" data-api="{{vm.apiName}}" data-api-version="{{vm.version}}" data-service-type="RPC">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="service-button pull-right"><button class="btn btn-danger" ng-click="vm.deleteRpcModal()" ng-hide="vm.disabled"><span class="glyphicon glyphicon-trash"></span> Delete service</button></span>
      <span class="glyphicon glyphicon-fire"></span> RPC service: {{vm.rpcName}} (v{{vm.version}})
    </h3>
  </div>
  <div class="panel-body">
    <tabset justified="true">
      <tab heading="General Settings" active="vm.tabs.general_settings">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="vm.rpc.service_name" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Route to match</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="vm.rpc.route_match" ng-disabled="vm.disabled">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Allowed HTTP Methods</label>
            <div class="col-sm-10">
              <span ng-repeat="http in vm.httpMethods">
                <label class="http-method">
                  <input type="checkbox"
                    checklist-model="vm.rpc.http_methods"
                    checklist-value="http"
                    ng-disabled="vm.disabled">
                  {{http}}
                </label>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="rest_content_negotiation" class="col-sm-2 control-label">Content Negotiation Selector</label>
            <div class="col-sm-10">
              <ui-select
                ng-model="vm.rpc.selector"
                ng-disabled="vm.disabled">
                <ui-select-match placeholder="Select content negotiation type...">{{$select.selected}}</ui-select-match>
                <ui-select-choices
                  repeat="selector in vm.selectorNames | filter: $select.search">
                  <div ng-bind-html="selector | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Accept whitelist</label>
            <div class="col-sm-10">
              <tags-input
              ng-hide="vm.disabled"
              ng-model="vm.tags.accept_whitelist"
              placeholder="Add a mediatype"
              add-on-space="true"
              add-on-enter="true"
              add-on-blur="true"
              allowed-tags-pattern="^[a-zA-Z0-9_+.-]+$"></tags-input>
              <span ng-repeat="accept in vm.tags.accept_whitelist" ng-show="vm.disabled">{{accept.text}}, </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Content-Type whitelist</label>
            <div class="col-sm-10">
              <tags-input
              ng-hide="vm.disabled"
              ng-model="vm.tags.content_type_whitelist"
              placeholder="Add a content type"
              add-on-space="true"
              add-on-enter="true"
              add-on-blur="true"
              allowed-tags-pattern="^[a-zA-Z0-9_+.-]+$"></tags-input>
              <span ng-repeat="accept in vm.tags.content_type_whitelist" ng-show="vm.disabled">{{accept.text}}, </span>
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetGeneral()" unsaved-warning-clear ng-hide="vm.disabled">Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveGeneral()" ladda="vm.loading" ng-hide="vm.disabled">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Fields" active="vm.tabs.fields">
        <h3>Fields <button type="button" class="btn btn-primary btn-sm" ng-click="vm.newFieldModal()" ng-hide="vm.disabled">New field</button></h3>
        <div class="form-group">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="col-md-2">Name</th>
                <th class="col-md-1">Required</th>
                <th class="col-md-3">Validator</th>
                <th class="col-md-3">Filter</th>
                <th class="col-md-3">Action</th>
              </tr>
            </thead>
            <tr ng-repeat="field in vm.rpc.fields">
              <td>{{field.name}}</td>
              <td><span ng-if="field.required" class="glyphicon glyphicon-ok"></span></td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addValidatorModal(field)" ng-hide="vm.disabled"><span class="glyphicon glyphicon-plus"></span></button>
                <span ng-repeat="validator in field.validators"><a ng-click="vm.editValidatorModal(field, validator)">{{validator.name}}</a>, </span>
                <span ng-if="field.validators.length == 0">No validators</span>
                </td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" ng-click="vm.addFilterModal(field)" ng-hide="vm.disabled"><span class="glyphicon glyphicon-plus"></span></button>
                <span ng-repeat="filter in field.filters"><a ng-click="vm.editFilterModal(field, filter)">{{filter.name}}</a>, </span>
                <span ng-if="field.filters.length == 0">No filters</span>
              </td>
              <td>
                <button type="button" ng-click="vm.editFieldModal(field)" class="btn btn-success btn-xs" ng-hide="vm.disabled"><i class="glyphicon glyphicon-pencil"></i> edit</button> <button type="button" ng-click="vm.deleteFieldModal(field)" class="btn btn-danger btn-xs" ng-hide="vm.disabled"><i class="glyphicon glyphicon-trash"></i> delete</button>
              </td>
            </tr>
            <tr ng-if="vm.rest.fields.length == 0">
              <td colspan="5">
                No fields have been configured<span ng-hide="vm.disabled">, <a ng-click="vm.newFieldModal()">create the first one</a></span>
              </td>
            </tr>
          </table>
        </div>
      </tab>
      <tab heading="Authorization" active="vm.tabs.authorization">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <h3>HTTP methods authorization</h3>
          <p ng-hide="vm.disabled">In this page you can specify which HTTP methods to put under authentication. You can choose only the HTTP methods available for the service, if you want to change it go to <a href="">General Settings</a>.
          The authentication type is defined per API in <a ui-sref="ag.apimodule({api: vm.apiName, ver: vm.version})">this page</a>.</p>
          <br />
          <div class="form-group">
            <label class="col-sm-2 control-label">Authorization</label>
            <div class="col-sm-8">
              <span ng-repeat="http in vm.httpMethods">
                <label class="http-method">
                  <input type="checkbox"
                    checklist-model="vm.auth"
                    checklist-value="http"
                    ng-disabled="vm.rpc.http_methods.indexOf(http) < 0 || vm.disabled">
                  {{http}}
                </label>
              </span>
            </div>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetAuthorization()" unsaved-warning-clear ng-hide="vm.disabled">Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveAuthorization()" ladda="vm.loading" ng-hide="vm.disabled">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Documentation" active="vm.tabs.documentation">
        <form class="form-horizontal" role="form" unsaved-warning-form>
          <div class="form-group">
            <label class="col-sm-2 control-label">RPC service description</label>
            <div class="col-sm-10">
              <textarea class="form-control" ng-model="vm.rpc.documentation.description" placeholder="Insert the description here" ng-disabled="vm.disabled"></textarea>
            </div>
          </div>
          <div class="form-group">
            <tabset justified="true" class="col-sm-12">
              <tab ng-repeat="http in vm.rpc.http_methods" heading="{{http}}">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Description</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" ng-model="vm.rpc.documentation[http].description" placeholder="Insert the description here" ng-disabled="vm.disabled"></textarea>
                  </div>
                </div>
                <div class="form-group" ng-if="http !== 'GET'">
                  <label class="col-sm-2 control-label">Request Body</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" ng-model="vm.rpc.documentation[http].request" placeholder="Insert the request specification" ng-disabled="vm.disabled"></textarea>
                    <button class="btn btn-default btn-xs pull-right" ng-click="vm.rpc.documentation[http].request = vm.generateFromConfiguration(http, 'request')" type="button">
                      <i class="glyphicon glyphicon-refresh"></i> generate from configuration
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Response Body</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" ng-model="vm.rpc.documentation[http].response" placeholder="Insert the response specification" ng-disabled="vm.disabled"></textarea>
                    <button class="btn btn-default btn-xs pull-right" ng-click="vm.rpc.documentation[http].response = vm.generateFromConfiguration(http, 'response')" type="button">
                      <i class="glyphicon glyphicon-refresh"></i> generate from configuration
                    </button>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
          <div class="form-group" style="margin-top:30px">
            <div class="col-sm-offset-2 col-sm-4">
              <button type="button" class="btn btn-default" ng-click="vm.resetDocumentation()" unsaved-warning-clear ng-hide="vm.disabled">Reset</button>
              <button type="submit" class="btn btn-success" ng-click="vm.saveDocumentation()" ladda="vm.loading" ng-hide="vm.disabled">Save</button>
            </div>
          </div>
        </form>
      </tab>
      <tab heading="Source code" active="vm.tabs.sourcecode">
        <form class="form-inline">
          <div class="form-group">
            <label class="control-label">Select the file to open</label>
            <select ng-model="vm.source" class="form-control" ng-change="vm.getSourceCode(vm.source.classname)" ng-options="source.name for source in vm.rpc.source_code"></select>
          </div>
        </form>
        <br clear="left">
        <div class="panel panel-default">
          <div class="panel-heading code-button"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{vm.file}}</div>
          <div class="panel-body" ng-bind-html="vm.sourcecode"></div>
        </div>
      </tab>
    </tabset>
  </div>
</div>
